*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url();
    background-color: black;
}

header{
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    padding: 30px;
    color: white;
    background-color: black;

}

#img1{
    height: 100vh;
    background-color: black;
    background-image: url(resource/Background/ffd58af549a6d89d5f75ae2be8cadc0b.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    opacity: 60%;
    
}

#img1TEXT{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 200px;
    position: relative;
    font-size: 60px;
}

/* แถบด้านข้าง */
nav {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(18, 18, 18);
    padding: 15px;
    text-align: center;
    width: 20%;
    height: 100vh;
    float: left;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    
}

nav ul li {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* section1 */

.paragraph{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 40px;
    text-align: center;
    /* width: 80%; */
    /* display: inline-block; */
}